<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">src/CMDL</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="CMDL Parser Test Suite">
            <directory>tests/CMDL</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="1024M" />
    </php>
</phpunit>

